@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,900);

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

$font-color-light: #FFFFFF;
$font-color-dark: #000000;
$element-color: #b00836;
$element-color-dark: #000000;
$element-color-light: #e8e8e8;

* {
	box-sizing: border-box;	
}

body {
	margin: 0;
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
}

.container {
	width: 100%;
	margin: 0 auto;
	max-width: 1000px;
}

/* == HEADER == */

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 100%;

    .header__left {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        align-items: center;
    }

    .header__right {
        display: flex;
        flex: 5;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        
        .header__right__top {
            
            button {
                padding: 2px 15px;
                font-size: 24px;
                color: $font-color-light;
                border: none;
                background-color: $element-color;
                outline: none;
                cursor: pointer;
                text-transform: uppercase;
                font-weight: 700;
                @include transition(all 0.2s linear);
                    
                &:hover {
                    opacity: 0.5;
                }
                    
            }

        }

        .header__right__bottom {
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            background-color: $element-color-light;

            ul {
                display: flex;
                flex: 100%;
                justify-content: space-between;
                align-items: flex-end;
                list-style-type: none;
                margin: 0;

                li {
                    padding: 30px 0 10px 0;
                    margin: 0;
                }

                li:first-of-type {
                    padding: 30px 0 10px 0;
                }
                
                a {
                    text-decoration: none;	
                    font-size: 18px;
                    padding: 0px;
                    color: $font-color-dark;
                    @include transition(0.2s linear);
                    
                    &:hover {
                        color: $element-color;
                    }

                }

                li:last-of-type {
                    padding: 20px 8px 5px 0;
                    
                    a {
                        font-size: 28px;
                    }

                }
                
            }

        }

    }

}

main {
    min-height: 69vh;
}

/* == RANGE SLIDER == */

.range__slider__wrap {

    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    h1 {
        font-size: 32px;
        color: $element-color;
        margin: 3vh 0 0 0;
    }

    .range__slider__value {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin: 0;

        input {
            border: 0;
            font-size: 16px;
            font-weight: 700;
            flex: 1;
            max-width: 50px;
            color: $element-color;
            padding: 0;
        }

        label {
            padding: 0;
            font-size: 16px;
            margin: 0;
            flex: 5;
        }

    }

    .range__slider {
        display: flex;
        flex-direction: row;
        width: 100%;
        flex: 1;
        padding: 20px;
        margin-top: 5vh;
        @include border-radius(25px);
 
        .ui-slider-handle {
            border: 2px solid $element-color;
            background: $element-color-light;
            color: $element-color;
            font-size: 16px;
            font-family: 'Open Sans', sans-serif;
            width: 50px;
            height: 70px;
            line-height: 30px;
            text-align: center;
            outline: none;
            top: 50%;
            left: 50%;
            @include transform(translate(-30%, -70%));
        }

    }

    .form-check {
        margin-top: 3vh;

        input {
            width: 15px;
            height: 15px;
        }

    }

}

/* == FORM == */

.hidden {
    display: none;
}

.form__wrap {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;

    p {
        display: flex;
        flex-direction: row;

        span {
            border: 1px solid $element-color-dark;
            padding: 0 7px 0 7px;
            font-weight: 700;
            margin-right: 5px;
        }
    }

    form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .form__element {
            padding: 0 10px 30px 10px;
            display: flex;
            flex-direction: column;
            flex: 50%;

            input {
                width: 100%;
                padding: 10px;
            }
        }
    }
        
}

.button__donate {
    margin-top: 3vh;
    margin-bottom: 3vh;
    padding: 10px 20px;
    font-size: 18px;
    text-transform: uppercase;
    color: $font-color-light;
    border: none;
    background-color: $element-color;
    @include border-radius(10px);
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    @include transition(0.2s linear);
        
    &:hover {
        opacity: 0.5;
    }

    &:focus {
        outline: none;
    }
        
}

/* == FORM - CREDIT CARD == */

.hidden__card {
    display: none;
    margin-top: 1vh;

    p {
        display: flex;
        flex-direction: row;

        span {
            border: 1px solid $element-color-dark;
            padding: 0 7px 0 7px;
            font-weight: 700;
            margin-right: 5px;
        }

    }

    .form__element {
        padding: 0 10px 30px 10px;
    }

}

/* == FOOTER == */

footer {
    margin-top: 3vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex: 1;
    background-color: $element-color-light;

    .social__media__buttons {
        margin: 3vh 1vw 3vh 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        .icon__btn {
            width: 40px;
            height: 40px;
            line-height: 40px;
            font-size: 20px;
            border: none;
            background-color: $element-color;
            color: $font-color-light;
            @include border-radius(50%);
            margin-right: 5px;
            @include transition(0.2s linear);


            &:hover {
                opacity: 0.5;
            }

        }

    }

}

/* == MEDIA QUERIES == */

@media (min-width: 480px) and (max-width: 768px){

    /* == HEADER == */

    header {
        flex-direction: column;

        .header__right {
            justify-content: center;
            align-items: center;
            width: 100%;

            .header__right__top {
                margin: 10px 0 10px 0;
                justify-content: center;
                align-items: center;
            }

            .header__right__bottom {
                flex-direction: column;
                justify-content: center;
                align-items: center;

                ul {
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 0;

                    li {
                        padding: 10px 0 0 0;
                    }

                    li:first-of-type {
                        padding: 10px 0 0 0;
                    }

                    li:last-of-type {
                        padding: 10px 0 0 0;

                        span {
                            display: none;
                        }

                    }
                    
                }

            }

        }

    }

    /* == RANGE SLIDER == */

    .range__slider__wrap {
        justify-content: center;
        align-items: center;

        .range__slider__value {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

    }

}

@media (max-width: 480px) {

    /* == HEADER == */

    header {
        flex-direction: column;
    
        .header__right {
            justify-content: center;
            align-items: center;
            width: 100%;
    
            .header__right__top {
                 margin: 10px 0 10px 0;
                justify-content: center;
                align-items: center;
            }
    
            .header__right__bottom {
                flex-direction: column;
                justify-content: center;
                align-items: center;
    
                 ul {
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 0;
    
                    li {
                        padding: 10px 0 0 0;
                    }
    
                    li:first-of-type {
                        padding: 10px 0 0 0;
                    }
    
                    li:last-of-type {
                        padding: 10px 0 0 0;
    
                        span {
                            display: none;
                        }
    
                    }
                        
                }
    
            }
    
        }
    
    }
    
    /* == RANGE SLIDER == */
    
    .range__slider__wrap {
        justify-content: center;
        align-items: center;
    
        .range__slider__value {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    
    }
    
    /* == FORM == */

    .form__wrap {
        justify-content: center;
        align-items: center;

        form {
            flex-direction: row;
            width: 100%;

            .form__element {
                flex: 100%;
            }

        }

    }

    .button__donate__wrapper {
        display: flex;
        justify-content: center;
    }

    /* == FOOTER == */

    footer {
        justify-content: center;
    }

}
